/*body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

ul li {
    font-size: 18px;
    margin: 5px 0;
    transition: 0.2s;
}

.highlight {
    font-weight: bold;
    color: rgb(61, 145, 194);
}


*/

body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

.title {
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

#profilePic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, border-radius 0.3s;
    border: 3px solid #5dade2;
}

.about {
    margin-left:100px;
}

.about ul li {
    margin-bottom: 10px;
    transition: color 0.3s;
}


.about ul li:hover {
    font-weight: bold;
    color: #e74c3c;
}

    





 